footer
  .footer-text
    p Copyright © 2018
  .footer-social
    ul
      li
        a(href="https://dribbble.com/sulistryono", target="_blank")
          img(src="./assets/icons/fontawesome/dribbble.svg", alt="Sulis Triyono on Dribbble")
      li
        a(href="https://github.com/sulistryono", target="_blank")
          img(src="./assets/icons/fontawesome/github.svg", alt="Sulis Triyono on GitHub")
      li
        a(href="https://www.linkedin.com/in/sulistryono", target="_blank")
          img(src="./assets/icons/fontawesome/linkedin.svg", alt="Sulis Triyono on LinkedIn")
      li
        a(href="https://medium.com/@sulis.tryono", target="_blank")
          img(src="./assets/icons/fontawesome/medium.svg", alt="Sulis Triyono on Medium")