.main-menu
  .menu-title
    img(src="./assets/icons/logo-white.svg", alt="Sulis Triyono")
    h3 Sulis Triyono
  .menu-wrapper
    ul
      li
        a(href="#") About Me
      li
        a(href="#") Resume
      li
        a(href="#") Works
      li
        a(href="#") Projects
  .menu-copyright
    p Copyright © 2018