@mixin box($w, $h)
  width: $w
  height: $h

@mixin borderRadius($border)
  border-radius: $border

@mixin translateY($y)
  transform: translateY($y)

@mixin rotateZ($z)
  transform: rotateZ($z)
  
@mixin transition($value)
  transition: $value