@mixin box($w, $h) {
  width: $w;
  height: $h;
}
@mixin borderRadius($border) {
  -webkit-border-radius: $border;
  -moz-border-radius: $border;
  -ms-border-radius: $border;
  -o-border-radius: $border;
  border-radius: $border;
}
@mixin translateY($y) {
  -webkit-transform: translateY($y);
  -moz-transform: translateY($y);
  -ms-transform: translateY($y);
  -o-transform: translateY($y);
  transform: translateY($y);
}
@mixin rotateZ($z) {
  -webkit-transform: rotateZ($z);
  -moz-transform: rotateZ($z);
  -ms-transform: rotateZ($z);
  -o-transform: rotateZ($z);
  transform: rotateZ($z);
}
@mixin transition($value) {
  -webkit-transition: $value;
  -moz-transition: $value;
  -o-transition: $value;
  transition: $value;
}