@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins/poppins-v15-latin-regular.eot");
  src: local(""), url("../fonts/poppins/poppins-v15-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v15-latin-regular.woff2") format("woff2"), url("../fonts/poppins/poppins-v15-latin-regular.woff") format("woff"), url("../fonts/poppins/poppins-v15-latin-regular.ttf") format("truetype"), url("../fonts/poppins/poppins-v15-latin-regular.svg#Poppins") format("svg");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/poppins/poppins-v15-latin-500.eot");
  src: local(""), url("../fonts/poppins/poppins-v15-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v15-latin-500.woff2") format("woff2"), url("../fonts/poppins/poppins-v15-latin-500.woff") format("woff"), url("../fonts/poppins/poppins-v15-latin-500.ttf") format("truetype"), url("../fonts/poppins/poppins-v15-latin-500.svg#Poppins") format("svg");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins/poppins-v15-latin-600.eot");
  src: local(""), url("../fonts/poppins/poppins-v15-latin-600.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v15-latin-600.woff2") format("woff2"), url("../fonts/poppins/poppins-v15-latin-600.woff") format("woff"), url("../fonts/poppins/poppins-v15-latin-600.ttf") format("truetype"), url("../fonts/poppins/poppins-v15-latin-600.svg#Poppins") format("svg");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins/poppins-v15-latin-700.eot");
  src: local(""), url("../fonts/poppins/poppins-v15-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v15-latin-700.woff2") format("woff2"), url("../fonts/poppins/poppins-v15-latin-700.woff") format("woff"), url("../fonts/poppins/poppins-v15-latin-700.ttf") format("truetype"), url("../fonts/poppins/poppins-v15-latin-700.svg#Poppins") format("svg");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/poppins/poppins-v15-latin-800.eot");
  src: local(""), url("../fonts/poppins/poppins-v15-latin-800.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v15-latin-800.woff2") format("woff2"), url("../fonts/poppins/poppins-v15-latin-800.woff") format("woff"), url("../fonts/poppins/poppins-v15-latin-800.ttf") format("truetype"), url("../fonts/poppins/poppins-v15-latin-800.svg#Poppins") format("svg");
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: #F8FDFF;
}

@media (prefers-color-scheme: dark) {
  html,
body {
    background-color: #151D2E;
  }
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #2D4163;
}

@media (prefers-color-scheme: dark) {
  a {
    color: #FFFFFF;
  }
}
section {
  position: relative;
}

section.section-home-hero {
  height: 100vh;
  max-height: 900px;
  background-color: #F0F7FB;
}

@media (prefers-color-scheme: dark) {
  section.section-home-hero {
    background-color: #111827;
  }
}
section.section-home-hero .section-home-hero-bg {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
  min-width: 1440px;
  height: 100%;
  max-height: 900px;
}

section.section-home-about {
  padding: 120px 0;
  background-color: #F8FDFF;
}

@media (prefers-color-scheme: dark) {
  section.section-home-about {
    background-color: #151D2E;
  }
}
@media (min-width: 768px) {
  section.section-home-about {
    padding: 200px 0;
  }
}
.app {
  position: relative;
  overflow: hidden;
}

.section-title h2 {
  margin: 0;
  font-weight: bold;
  font-size: 32px;
  line-height: 100%;
  text-align: center;
  color: #2D4163;
}

@media (prefers-color-scheme: dark) {
  .section-title h2 {
    color: #FFFFFF;
  }
}
@media (min-width: 768px) {
  .section-title h2 {
    font-size: 48px;
  }
}
.container {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 1160px;
  padding: 0 20px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  position: relative;
  top: 0;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.btn:hover {
  top: -3px;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.btn.btn-primary {
  padding: 20px 40px;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  color: #FFFFFF;
  background-color: #3CA39C;
  border-radius: 200px;
}

@media (min-width: 768px) {
  .btn.btn-primary {
    font-size: 18px;
  }
}
footer {
  position: relative;
  z-index: 1;
  background-color: #F8FDFF;
}

@media (prefers-color-scheme: dark) {
  footer {
    background-color: #151D2E;
  }
}
footer .footer-wrapper {
  padding: 0 0 40px;
}

@media (min-width: 768px) {
  footer .footer-wrapper {
    padding: 0 0 80px;
  }
}
footer .footer-wrapper p {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 175%;
  text-align: center;
  color: #2D4163;
}

@media (prefers-color-scheme: dark) {
  footer .footer-wrapper p {
    color: #FFFFFF;
  }
}
@media (min-width: 768px) {
  footer .footer-wrapper p {
    font-size: 18px;
  }
}
footer .footer-wrapper p i {
  color: #E95B5B;
}

.home-hero-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.home-hero-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (min-width: 768px) {
  .home-hero-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
.home-hero-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  width: 100%;
  margin: 0;
}

@media (min-width: 768px) {
  .home-hero-image {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 240px;
    flex: 0 0 240px;
    width: 240px;
  }
}
.home-hero-image img {
  display: block;
  width: 160px;
  height: 160px;
  margin: 0 auto;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
}

@media (min-width: 768px) {
  .home-hero-image img {
    width: 240px;
    height: 240px;
    margin: 0;
  }
}
.home-hero-text {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  width: 100%;
  padding: 40px 0 0;
  text-align: center;
}

@media (min-width: 768px) {
  .home-hero-text {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100% - 240px);
    flex: 0 0 calc(100% - 240px);
    width: calc(100% - 240px);
    padding: 0 0 0 60px;
    text-align: left;
  }
}
.home-hero-text h1 {
  margin: 0;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  color: #2D4163;
}

@media (prefers-color-scheme: dark) {
  .home-hero-text h1 {
    color: #FFFFFF;
  }
}
@media (min-width: 768px) {
  .home-hero-text h1 {
    font-size: 96px;
  }
}
.home-hero-text h2 {
  margin: 10px 0 0 3px;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: #717F96;
}

@media (prefers-color-scheme: dark) {
  .home-hero-text h2 {
    color: rgba(255, 255, 255, 0.6);
  }
}
@media (min-width: 768px) {
  .home-hero-text h2 {
    font-size: 24px;
  }
}
.home-hero-text h2 + * {
  margin: 10px 0 0;
}

.home-hero-text .btn {
  margin: 30px 0 0 3px;
}

.home-about-container + * {
  margin: 120px 0 0;
}

@media (min-width: 768px) {
  .home-about-container + * {
    margin: 200px 0 0;
  }
}
.home-about-text p {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 175%;
  text-align: center;
  color: #2D4163;
}

@media (prefers-color-scheme: dark) {
  .home-about-text p {
    color: #FFFFFF;
  }
}
@media (min-width: 768px) {
  .home-about-text p {
    font-size: 24px;
  }
}
.home-about-text p a {
  text-decoration: underline;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.home-about-text p a:hover {
  color: #3CA39C;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.home-about-text p span {
  font-weight: 600;
}

.home-about-social-media {
  margin: 40px 0 0;
}

.home-about-social-media ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.home-about-social-media ul li + li {
  margin: 0 0 0 15px;
}

@media (min-width: 768px) {
  .home-about-social-media ul li + li {
    margin: 0 0 0 20px;
  }
}
.home-about-social-media ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 24px;
  background-color: #2D4163;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

@media (prefers-color-scheme: dark) {
  .home-about-social-media ul li a {
    background-color: #FFFFFF;
  }
}
.home-about-social-media ul li a:hover {
  background-color: #3CA39C;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

@media (prefers-color-scheme: dark) {
  .home-about-social-media ul li a:hover i {
    color: #FFFFFF;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }
}
.home-about-social-media ul li a i {
  font-size: 24px;
  color: #FFFFFF;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

@media (prefers-color-scheme: dark) {
  .home-about-social-media ul li a i {
    color: #151D2E;
  }
}
.home-about-social-media ul li a img {
  display: block;
  max-width: 24px;
  max-height: 24px;
  margin: 0;
}

.home-portfolio-container {
  position: relative;
}

.home-portfolio-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 40px;
  margin: 60px 0 0;
}

@media (min-width: 768px) {
  .home-portfolio-wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 60px 40px;
    margin: 80px 0 0;
  }
}
.portfolio-wrapper img {
  display: block;
  width: 100%;
  margin: 0;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 32px rgba(113, 127, 150, 0.25);
  box-shadow: 0px 0px 32px rgba(113, 127, 150, 0.25);
}

.portfolio-wrapper h3 {
  margin: 20px 0 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  color: #2D4163;
}

@media (min-width: 768px) {
  .portfolio-wrapper h3 {
    margin: 30px 0 0;
    font-size: 24px;
  }
}
.portfolio-wrapper h3 a {
  color: #2D4163;
}

@media (prefers-color-scheme: dark) {
  .portfolio-wrapper h3 a {
    color: #FFFFFF;
  }
}
.portfolio-wrapper h3 a:hover {
  color: #3CA39C;
}

.portfolio-wrapper p {
  margin: 10px 0 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #717F96;
}

@media (prefers-color-scheme: dark) {
  .portfolio-wrapper p {
    color: rgba(255, 255, 255, 0.6);
  }
}
@media (min-width: 768px) {
  .portfolio-wrapper p {
    font-size: 18px;
  }
}