extends ../layouts/default-layout.pug
block content
  .main-content
    section.greeting-section
      .greeting-wrapper
        h2 Hi there!
        p I'm a
          span.typewrite(data-period="1500", data-type='[ " Frontend Web Developer.", " UI Engineer." ]')
            span.wrap