.main-menu
  .menu-title
    h3 Sulis Triyono
  .menu-wrapper
    ul
      li
        a(href="#") About Me
      li
        a(href="#") Resume
      li
        a(href="#") Works
      li
        a(href="#") Projects
  .menu-copyright
    p Copyright &copy; 2018