header {
  @extend %display-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 80px;
  padding: 0 25px;
  box-sizing: border-box;
  .header-logo {
    img {
      display: inline-block;
      vertical-align: middle;
      max-height: 24px;
    }
    h1 {
      @extend %no-spacing;
      display: inline-block;
      vertical-align: middle;
      margin: 0 0 0 3px;
      font-size: 1.125em;
      font-weight: 600;
      line-height: 1;
    }
  }
  .header-nav {
    .menu-button {
      position: relative;
      cursor: pointer;
      span {
        @include box(24px, 2px);
        @include transition(width .3s);
        display: block;
        background-color: $bg-primary;
        &:nth-child(2) {
          width: 16px;
          margin: 5px 0 0 auto;
        }
        &:last-child() {
          width: 20px;
          margin: 5px 0 0 auto;
        }
      }
      &:hover {
        span {
          &:nth-child(2) {
            width: 24px;
          }
          &:last-child() {
            width: 24px;
          }
        }
      }
    }
  }
}